'.source.apex':
  'Apex Trigger':
    'prefix': 'apextrigger'
    'body': """
        trigger ${1:ObjectName}Trigger on ${2:ObjectApiName} (
          before insert, before update, before delete,
          after insert, after update, after delete, after undelete) {

            //Note: Use a separate trigger handler for best practice
            //https://developer.salesforce.com/page/Trigger_Frameworks_and_Apex_Trigger_Best_Practices
            //use the 'apextriggerhandler' snippet to create a trigger handler in another class

            ${1:ObjectName}TriggerHandler handler = new ${1:ObjectName}TriggerHandler ();

            //Before Insert
            if (Trigger.isInsert && Trigger.isBefore) {
                handler.OnBeforeInsert(Trigger.new);
            }

            //After Insert
            else if (Trigger.isInsert && Trigger.isAfter) {
                handler.OnAfterInsert(Trigger.new);
            }

            //Before Update
            else if (Trigger.isUpdate && Trigger.isBefore) {
                handler.OnBeforeUpdate(Trigger.old, Trigger.new, Trigger.newMap);
            }

            //After Update
            else if (Trigger.isUpdate && Trigger.isAfter) {
               handler.OnAfterUpdate(Trigger.old, Trigger.new, Trigger.newMap);
            }

            //Before Delete
            else if (Trigger.isDelete && Trigger.isBefore) {
                handler.OnBeforeDelete(Trigger.old, Trigger.oldMap);
            }

            //After Delete
            else if(Trigger.isDelete && Trigger.isAfter) {
                handler.OnAfterDelete(Trigger.old, Trigger.oldMap);
            }

            //After Undelete
            else if (Trigger.isUndelete) {
                handler.OnUnDelete(Trigger.new);
            }


        }

    """
